body {
    font-family: Helvetica, sans-serif;
    font-size: 16px/24px;
    background-color: #D2B48C;

}
.container
{
    max-width: 1200px;
    padding: 1%;
}
.Header
{
    text-align: center;
}
.nav
{
    text-align: center;
}

.nav li
{
    display: inline-block;
    padding: 2%;
}
    .nav a
    {
        text-decoration: none;
        color: white;
    }
a
{
    color: #696969;
    text-decoration: none;
}
    a:hover
    {
        color: #fff;
        text-decoration: underline;
    }

table
{
    margin-left: auto;
    margin-right: auto;
}
.content
{
    text-align: center;

}
.button
{
    color: #696969;

}
#btnInsert
{
    margin-left: 35%;
}

.btnSend
{
    margin-left: 35%;
}

.form
{
    margin-left: 20%;
    margin-right: auto;
}
.form label
{
    width: 30%;
    text-align: right;

}

.form label, input
{
    display: inline-block;
}
   .form label + input
    {
        margin-left: 4%;
        margin-bottom: 10px;
    }

.gridviewCSS
{
    background-color: #F08080;
    border: 1px solid #fff;
    border-collapse: collapse;
}
    .gridviewCSS td
    {
        padding: 10px;
        border: solid 1px #fff;
        color: #fff;
    }
    .gridviewCSS th
    {
        color: #696969;
        padding: 10px;
        border: 1px solid #696969;
        background-color: #ffff99;
    }
.detailsCSS
{
    background-color: #fff;
    border: 1px solid #fff;
    border-collapse: collapse;
    color: #F08080;
}
.detailsHeader
{
    background-color: #696969;
    color: #FFF;
}
.fieldHeader
{
    color: #696969;
    padding: 10px;
    border: 1px solid #696969;
}
.item
{
    color: #f08080;
    border: 1px solid #696969;
}